In [2]:
import pandas as pd
import numpy as np

In [48]:
borders = pd.read_csv("https://raw.githubusercontent.com/geodatasource/country-borders/master/GEODATASOURCE-COUNTRY-BORDERS.CSV")

In [49]:
borders = borders[['country_code','country_name','country_border_name']]

In [50]:
borders_list = borders.groupby(['country_code', 'country_name']).agg(list).reset_index()

In [51]:
borders_list.head()

,country_code,country_name,country_border_name
0,AD,Andorra,"[France, Spain]"
1,AE,United Arab Emirates,"[Oman, Saudi Arabia]"
2,AF,Afghanistan,"[China, Iran (Islamic Republic of), Pakistan, ..."
3,AG,Antigua and Barbuda,[nan]
4,AI,Anguilla,[nan]

In [52]:
iso = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")

In [53]:
iso.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [54]:
iso_sub =iso[['alpha-2', 'alpha-3']]

In [55]:
borders_list = borders_list.merge(iso_sub, left_on='country_code', right_on='alpha-2', how="left")

In [56]:
borders_list.head()

,country_code,country_name,country_border_name,alpha-2,alpha-3
0,AD,Andorra,"[France, Spain]",AD,AND
1,AE,United Arab Emirates,"[Oman, Saudi Arabia]",AE,ARE
2,AF,Afghanistan,"[China, Iran (Islamic Republic of), Pakistan, ...",AF,AFG
3,AG,Antigua and Barbuda,[nan],AG,ATG
4,AI,Anguilla,[nan],AI,AIA

In [58]:
borders_list = borders_list.mask(borders_list.applymap(str).eq('[nan]'))

In [59]:
country_data = pd.read_csv("country_data.csv")

In [60]:
country_data.head()

,iso_code,name,region,sub-region,flag,capital,area,population,continent
0,DZA,Algeria,Africa,Northern Africa,https://public.flourish.studio/country-flags/s...,Algiers,"2,381,740.00","42,228,429",AF
1,AGO,Angola,Africa,Sub-Saharan Africa,https://public.flourish.studio/country-flags/s...,Luanda,"1,246,700.00","30,809,762",AF
2,BEN,Benin,Africa,Sub-Saharan Africa,https://public.flourish.studio/country-flags/s...,Porto-Novo,"112,620.00","11,485,048",AF
3,BWA,Botswana,Africa,Sub-Saharan Africa,https://public.flourish.studio/country-flags/s...,Gaborone,"600,370.00","2,254,126",AF
4,IOT,British Indian Ocean Territory,Africa,Sub-Saharan Africa,https://public.flourish.studio/country-flags/s...,Diego Garcia,60,"4,000",AS

In [61]:
full_data = country_data.merge(borders_list, left_on="iso_code", right_on="alpha-3", how="left")

In [62]:
full_data = full_data.drop(['country_code', 'country_name','alpha-2', 'alpha-3'], axis=1)

In [64]:
full_data.to_csv("full_country_data.csv")